
@media(max-width:750px){
	body{
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	
	.on{
		width:70%;
		height:100%;
		padding:10px 30px 50px 30px;
		background-image: url(wallpaper-dual-cool-06.jpg);
		background-size:70%;
		margin:15px 15px 15px 15px;
		display:block;
	}
	.on h1{
		font-weight:bold;
		color:#fff;
		display:none;
		padding-bottom:２０px;
		padding-on:30px;
	}
	
	
	.center{
		border-top:2px solid #333;	
		
	faq-list-item {
  		 margin:1opx;
 		 border-bottom:1px solid #ccc;
 		 position:relative;
 		 cursor:pointer;
 		 text-align: left;
	}

.faq-list-item h3 {
  		font-size: 7px;
	
	}

.answer {
		display:none;
  		font-size: 5px;
  		padding: 5px 0px;
  		margin-bottom: 5px;
	}

		
	/*-------*/	


.photo-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.photo-image {
  width: 70%;
  height: 30%;
  margin: 10px 0;
  padding: 0px;
}

#photo-carousel img {
  display: inline-block;
}

#photo-carousel li {
  background-color: #869791;
}
.carousel-indicators {
  z-index: 5;
}



		
		
	
}
	


	
	
	
	
