@media(max-width:750px){
	.on{
		width:70%;
		text-align:center;
		padding:30px;
		border-bottom:2px solid #333;
		font-weight:bold;
		display:none;
	}
	.center li{
		width:50%;
		padding:15px;
	}
	
}
