@media(max-width:750px){
	.on{
		width:70%;
		text-align:center;
		padding:30px;
		background-image: url(IMG_5160.jpg);
		background-size:100%;
		margin:15px;
		display:block;
	}
	.on h1{
		font-weight:bold;
		color:white;
		display:none;
		
	}
	
	
	.center{
		border-top:2px solid #333;
		
		
		
	}
	
	.center li{
		width:50%;
		padding:15px;
	}
	
	
}
